#include <windows.h>
#include "resource.h"


IDD_FILE_LIST_DIALOG DIALOGEX 0, 0, 740, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Scan"
FONT 8, "MS Sans Serif"
BEGIN
EDITTEXT        ID_EDIT_PATH, 5, 20, 650, 14, ES_AUTOHSCROLL
PUSHBUTTON      "Scan", ID_BUTTON_START, 660, 20, 75, 14
CONTROL         "", ID_LISTVIEW_FILES, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS, 5, 40, 730, 100
END